name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-publish:
    strategy:
      fail-fast: false
      matrix:
        include:
          # - os: windows-2025
          #   rid: win-x64
          # - os: windows-11-arm
          #   rid: win-arm64
          - os: ubuntu-24.04
            rid: linux-x64
          - os: ubuntu-24.04-arm
            rid: linux-arm64
          # - os: macos-15-intel
          #   rid: osx-x64
          # - os: macos-26
          #   rid: osx-arm64
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/setup-dotnet@main
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build -c Release --no-restore
      - name: Test
        run: dotnet test -c Release --no-build --logger GitHubActions --logger "console;verbosity=normal"
      # output to ./src/DotfilesLinker/artifacts/publish/DotfilesLinker/release_${{ matrix.rid }}/*
      - name: Publish
        run: dotnet publish -c Release -r ${{ matrix.rid }} --artifacts-path ./artifacts
        working-directory: ./src/DotfilesLinker
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.rid }}
          path: ./src/DotfilesLinker/artifacts/publish/DotfilesLinker/**
          retention-days: 1
          if-no-files-found: error

  execute:
    needs: [build-test-publish]
    strategy:
      fail-fast: false
      matrix:
        include:
          # - os: windows-2025
          #   rid: win-x64
          # - os: windows-11-arm
          #   rid: win-arm64
          - os: ubuntu-24.04
            rid: linux-x64
          - os: ubuntu-24.04-arm
            rid: linux-arm64
          # - os: macos-15-intel
          #   rid: osx-x64
          # - os: macos-26
          #   rid: osx-arm64
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: ./artifacts
          merge-multiple: true
      - name: Execute published binary without runtime
        run: |
          ls -lR ./artifacts/
          ${{ github.workspace }}/artifacts/release_${{ matrix.rid }}/DotfilesLinker --version
          ${{ github.workspace }}/artifacts/release_${{ matrix.rid }}/DotfilesLinker --help

  # marker job to target PR status check
  build:
    needs: build-test-publish
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    steps:
      - name: result
        run: exit 0
